:root {
  --black: #362f2f;
  --blue: #38B6FF;
  --yellow-green: #BCD979;
  --olivine: #9DAD6F;
  --light-borwn: #7D6D61;
  --earth-brown: #5E574D;
}

* { box-sizing: border-box; }

#installicon {
  color: white;
  float: right;
  font-size: calc(25px + 0.5vw);
  margin-right: calc(1vw + 5px);
  margin-top: 1vw;
}

#installicon:hover {
  color: var(--blue);
  cursor: pointer;
}

body {
  height: 100%;
  width: 100%;
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  background-color: var(--earth-brown);
}

#fanci {
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px var(--black);
  color: var(--blue);
  font-size: 1.42em;
}

h1 {
  font-family: 'Merriweather', serif;
  color: var(--earth-brown);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1vw;
  margin-right: 1vw;
}

#travelOptionIcons {
  font-size: 0.9em;
  display:block;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  white-space: pre-wrap;
}

@media only screen and (max-width: 900px) {
  #travelOptionIcons {
    display: inline-block;
    font-size: calc(0.7vw + 10px);
  }
}

#travelOptionIcons li {
  float: left;
}

/* Style for navbar, titlebar */
#nav {
  background-color: var(--yellow-green);
  margin: 0;
  padding: 0.5em;
  border-bottom: 0.8vh solid var(--olivine);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  grid-area: n;
}

#nav h1 {
 float: left;
}

#logo {
  float: left;
  width: 45px;
  margin-top: 10px
}

@media only screen and (max-width: 800px) {
  #nav {
    font-size: 0.6em;
  }
  #logo {
    display: none;
  }
}

#scheduleCon {
  grid-area: s;
  border-right: 0.5vw solid var(--olivine);
  position: relative;
}

#schedules {
  background-color: var(--yellow-green);
  padding: 1px 1px;
  border-bottom: 0.6vh solid var(--olivine);
}

#scheduleBar {
  background-color: var(--light-borwn);
  margin: 0;
  padding: 0.5em;
  border-bottom: 0.3vh solid var(--olivine);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.subText {
  color: ghostwhite;
  font-family: "merryweather";
  float: center;
  text-align: center;
  font-size: calc(1vw + 12px);
}

#mapCon {
  grid-area: m;
}

#mapInput {
  background-color: var(--olivine);
  grid-area: mi;
}

#infoCon {
  border-left: 0.5vw solid var(--olivine);
  grid-area: i;
}

#infoBar {
  background-color: var(--light-borwn);
  margin: 0;
  padding: 0.5em;
  border-bottom: 0.3vh solid var(--olivine);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Travel Details Style*/
#chooseMode {
  color: ghostwhite;
  width: 100%;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding: 5px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.funnyImage {
  width: 25px;
}

.typeSign{
  color: var(--yellow-green)
}

#travelOptionIcons span:hover {
  cursor: pointer;
}

.bottomButtons {
  display: block;
  text-align: center;
  padding: 10px 20px;
  background-color: #2A628F;
  color: ghostwhite;
  display: block;
  font-size: 16px;
  border-radius: 4px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.bottomButtons:hover {
  cursor: pointer;
  background-color: var(--blue);
}

/* GRID */
#grid-container {
  display: grid;
  max-height: 100vh;
  grid-template-columns: 22vw 50vw 28vw;
  grid-template-areas:
    "n n n"
    "s mi i"
    "s m i";
}

.map {
  width: 100%;
  height: 90vh;
  max-height: 510px;
}

#search-container {
  text-align: center;
}

.material-symbols-outlined {
  color: var(--yellow-green);
}

input[type="text"] {
  border-width: 0;
  background-color: #fdfdfd;
  margin: 0;
  width: 90%;
  font-size: 25px;
  padding: 5px;
  float: left;
}

#searchBut {
  padding: 6px;
  float: left;
  color: white;
  font-weight: bold;
  width: 10%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#searchBut:hover {
  cursor: pointer;
  color: royalblue;
}

@media only screen and (max-width: 900px) {
  .map {
    width: 100%;
    height: 50vh;
  }
  
  #search-container {
    text-align: center;
  }
  
  .material-symbols-outlined {
    color: var(--yellow-green);
  }
  
  input[type="text"] {
    border-width: 0;
    background-color: #fdfdfd;
    margin: 0;
    width: 80%;
    font-size: calc(1vw + 12px);
    padding: 6px;
    float: left;
  }
  
  #searchBut {
    padding-top: 3px;
    font-size: 1.3em;
    width: 20%;
  }

  #chooseMode {
    border: 0;
  }

  #infoCon {
    border: 0;
  }

  #chooseCon {
    border: 0;
  }

    /* GRID */
  #grid-container {
    display: grid;
    max-height: 100vh;
    grid-template-columns: 100vw;
    grid-template-areas:
      "n"
      "mi"
      "m"
      "i"
      "s";
  }
}

/* SPECIAL text input fields */
.set2 {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--light-borwn);
  outline: none;
  width: 4ch;
  color: ghostwhite;
}

/* Removes arrows for number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Gender buttons */
.Gbut {
  font-weight: bold;
  background-color: var(--earth-brown);
  color: ghostwhite;
  border: 1px solid ghostwhite;
}

.Gbut:hover {
  cursor: pointer;
}

/*
.search-container button {
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  background: #ddd;
  font-size: 17px;
  border-width: 2px;
  border-color: grey;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.search-container .togglebutton {
  background: indianred;
}

.search-container .togglebutton:hover {
  background: indianred;
}

.button-container {
  display: none;
  margin: 0.5em;
}

.butdir {
  width: auto;
  height: 30px;
}
*/