/*  :) <-Glitch font makes a lopsided smiley face!  */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: 'Ranchers', cursive;
  font-style: italic;
  color: grey;
}

/* Smaller map for easier loading with my slow internet */
.map {
  width: 70%;
  height: 600px;
  float: left;
}

.search-container {
  margin: 1em;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-color: grey;
}

.search-container button {
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  background: #ddd;
  font-size: 17px;
  border-width: 2px;
  border-color: grey;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.search-container .togglebutton {
  background: indianred;
}

.search-container .togglebutton:hover {
  background: indianred;
}

.button-container {
  display: none;
  margin: 0.5em;
}

.butdir {
  width: auto;
  height: 30px;
}